.header {
    @media(max-width: 1099px) {
        display: none;
    }
}

.container {
    max-width: 1784px;
    width: 100%;
    margin: 0 auto;
    padding: 0 19px;
}

.main-title {
    font-family: "TTNorms";
    font-weight: 600;
    color: #008EDB;
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    @media(min-width: 992px) {
        font-size: 32px;
    }
}

.cont-text {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    color: #637588;
    font-size: 18px;
    @media(max-width: 991px) {
        font-size: 14px;
    }
}

.cont-list {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    color: #637588;
    font-size: 20px;
    padding: 15px 0px;
    @media(min-width: 992px) {
        padding: 50px 0px;
        column-count: 3;
    }
    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 25px;
        @media(max-width: 991px) {
            margin-bottom: 15px;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            background: #F34444;
            border-radius: 10em;
        }
    }
    @media(max-width: 991px) {
        font-size: 16px;
    }
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    &__item {
        &:first-child {
            @media(max-width: 1899px) {
                width: 22%;
            }
        }
        &:last-child {
            @media(max-width: 1899px) {
                width: 25%;
            }
        }
        &:nth-child(2) {
            @media(max-width: 1599px) {
                width: 52%;
            }
            @media(min-width: 1600px) and (max-width: 1899px) {
                width: 44%;
            }
        }
    }
}

.about-exp {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    position: relative;
    color: #008EDB;
    font-size: 16px;
    padding-left: 42px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background: url('../img/victory.png') no-repeat center;
    }
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.top-nav>a {
    color: #637588;
    display: inline-block;
    border-bottom: 1px dashed transparent;
    &:hover {
        color: #008EDB;
        border-bottom: 1px dashed #008EDB;
    }
}

.top-nav>li {
    &:not(:last-child) {
        @media(min-width: 1900px) {
            margin-right: 111px;
        }
    }
}

.payment {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #008EDB;
    li {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.bottom-panel {
    background: #2DC6D1;
    box-shadow: 0px 4px 6px rgba(35, 34, 91, 0.25);
    padding: 13px 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        &:first-child,
        &:last-child {
            padding-bottom: 13px;
        }
    }
}

.logo__list {
    display: flex;
    li {
        &:first-child {
            margin-right: 13px;
        }
    }
}

.logo__list_mob {
    justify-content: center;
}

.logo__list>li {
    &:first-child {
        padding-top: 6px;
    }
}

.logo__list_mob>li {
    &:first-child {
        padding-top: 2px;
        margin-right: 5px;
    }
}

.logo__name {
    font-family: "helveticaneuecyr";
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
    li {
        &:first-child {
            color: #FF4B5F;
        }
        &:last-child {
            color: white;
        }
    }
}

.logo__name_mob {
    font-size: 20px;
}

.logo__article {
    font-family: "helveticaneuecyr";
    color: #FFFFFF;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(min-width: 1900px) {
        width: 952px;
    }
}

.menu-list__item.is-active {
    &:before {
        transform: rotate(180deg);
    }
}

.main-nav>li {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 14px;
    position: relative;
    @media(max-width: 1599px) {
        height: 123px;
    }
    @media(min-width: 1600px) {
        margin-right: 15px;
    }
    @media(min-width: 1899px) {
        padding: 0 24px;
    }
    &:after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 10px;
        height: 10px;
        background: url('../img/back-icon.png') no-repeat center;
        display: none;
    }
    &:hover {
        background: #31A2AA;
        border-radius: 10px 10px 0px 0px;
        .nav-dropdown {
            display: block;
        }
        &:after {
            @media(min-width: 1900px) {
                display: block;
            }
        }
    }
}

.nav-dropdown {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 100%;
    left: 0;
    padding: 15px 5px;
    background: #31A2AA;
    box-shadow: 0px 6px 10px rgba(35, 34, 91, 0.3);
    padding: 28px 15px 0px;
    display: none;
    @media(min-width: 1900px) {
        width: 900px;
    }
    @media(min-width: 1900px) {
        padding: 28px 30px;
        border-radius: 0px 10px 10px 10px;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
    }
}

.nav-dropdown__list {
    @media(max-width: 1899px) {
        margin-bottom: 28px;
    }
    li {
        &:not(:last-child) {
            margin-bottom: 28px;
            @media(max-width: 1899px) {
                margin-bottom: 10px;
            }
        }
    }
    a {
        font-family: "helveticaneuecyr";
        padding-bottom: 2px;
        font-weight: 400;
        font-size: 18px;
        display: inline-block;
        color: #A7F9FF;
        border: 1px solid transparent;
        @media(max-width: 1899px) {
            font-size: 14px;
        }
        &:hover {
            color: #FFFFFF;
            border-bottom: 1px dashed white;
        }
    }
}

.main-nav>li>a {
    font-family: "helveticaneuecyr";
    position: relative;
    font-weight: 500;
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px dashed transparent;
    padding-bottom: 2px;
    @media(min-width: 1280px) {
        margin-left: 40px;
        font-size: 18px;
    }
    &:after {
        content: '';
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        @media(max-width: 1279px) {
            display: none;
        }
    }
    &:hover {
        border-bottom: 1px dashed white;
    }
}

.logo__img {
    width: 45px;
}

.logo__img_mob {
    width: 38px;
}

.main-nav__book:after {
    background: url('../img/book.png') no-repeat center;
}

.main-nav__service:after {
    background: url('../img/tag.png') no-repeat center;
}

.info-block {
    display: flex;
    align-items: center;
    @media(max-width: 1599px) {
        flex-direction: column;
        align-items: end;
    }
    li {
        &:first-child {
            margin-right: 57px;
            @media(max-width: 1599px) {
                margin-right: 0px;
                order: 1;
                padding-top: 10px;
            }
        }
    }
}

.recall-btn {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background: none;
    color: white;
    width: 172px;
    height: 41px;
}

.phone-link {
    font-family: "TTNorms";
    font-weight: 600;
    font-size: 34px;
    color: white;
    @media(max-width: 1599px) {
        font-size: 26px;
    }
}

.phone-link_header {
    span {
        color: #FF4B5F;
    }
}

.phone-block__article {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 10px;
    @media(max-width: 1599px) {
        font-size: 14px;
    }
}

.header-mob__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background: #2DC6D1;
    box-shadow: 0px 4px 6px rgba(35, 34, 91, 0.25);
}

.header-mob__phone {
    padding-top: 5px;
    text-align: center;
    a {
        font-family: "TTNorms";
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
    }
}

.burger {
    width: 24px;
    height: 24px;
    background: url('../img/burger.png') no-repeat center;
    cursor: pointer;
    background-size: contain;
}

.burger.is-active {
    background: url('../img/close.png') no-repeat center;
}

.header-mob__icon {
    width: 24px;
    height: 24px;
    background: url('../img/local_phone.png') no-repeat center;
}

.dropdown-menu {
    position: absolute;
    left: -100%;
    background: #31A2AA;
    max-width: 320px;
    width: 100%;
    padding: 30px 22px;
    color: white;
    transition: 0.5s;
    z-index: 10;
}

.dropdown-menu.is-active {
    left: 0;
}

.menu-list {
    margin-bottom: 80px;
    .menu-list__top {
        font-family: "helveticaneuecyr";
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px dashed transparent;
        padding-bottom: 2px;
        padding-left: 40px;
        &:hover {
            border-bottom: 1px dashed white;
        }
    }
}

.menu-list>li {
    position: relative;
    padding-bottom: 35px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -5px;
        width: 30px;
        height: 30px;
        background-size: contain;
    }
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: -2px;
        width: 24px;
        height: 24px;
        background-size: contain;
        background: url('../img/expand_more.png') no-repeat center;
    }
}

.dropdown-menu__book:after {
    background: url('../img/book.png') no-repeat center;
}

.dropdown-menu__service:after {
    background: url('../img/tag.png') no-repeat center;
}

.dropdown-menu__nav {
    li {
        margin-bottom: 24px;
    }
    a {
        font-size: 16px;
        display: inline-block;
        border-bottom: 1px dashed transparent;
        &:hover {
            border-bottom: 1px dashed white;
        }
    }
}

.menu-list__dropdown {
    padding-top: 25px;
    display: none;
    li {
        margin-bottom: 25px;
    }
    a {
        color: #A7F9FF;
        font-size: 18px;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px dashed transparent;
        &:hover {
            border-bottom: 1px dashed white;
        }
    }
}

.header-mob {
    @media(min-width: 1100px) {
        display: none;
    }
}

.top-main {
    padding: 18px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1040px;
        height: 100%;
        background: url('../img/fog.png') no-repeat center;
    }
    @media(min-width: 768px) {
        background: url('../img/header-banner.jpg') no-repeat center;
        background-size: cover;
    }
}

.top-main__item {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    @media(min-width: 1280px) {
        justify-content: flex-start;
    }
}

.about-exp_cont {
    margin-bottom: 20px;
    @media(min-width: 1100px) {
        display: none;
    }
}

.about-work {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    display: flex;
    align-items: center;
    background: rgba(2, 114, 174, 0.8);
    border-radius: 4px;
    padding: 7px 12px;
    max-width: 288px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 12px;
    @media(min-width: 1280px) {
        position: absolute;
        right: 0;
        top: 26px;
    }
    @media(min-width: 1600px) {
        max-width: 536px;
        font-size: 16px;
    }
}

.about-work__img {
    width: 50px;
}

.about-work__article {
    width: 205px;
    padding-left: 18px;
    color: white;
    @media(min-width: 1600px) {
        width: 460px;
    }
}

.top-main__article {
    font-family: "TTNorms";
    font-weight: 600;
    margin-bottom: 12px;
    li:first-child {
        font-size: 28px;
        color: #008EDB;
        span {
            color: #FF4C5F;
        }
        @media(min-width: 1100px) {
            font-size: 78px;
        }
    }
    li:last-child {
        font-size: 16px;
        color: #008EDB;
        @media(min-width: 1100px) {
            font-size: 45px;
        }
    }
}

.lisence-block {
    li {
        display: flex;
        align-items: center;
        color: #637588;
        font-size: 12px;
        margin-bottom: 12px;
        @media(min-width: 768px) {
            font-size: 16px;
        }
        @media(min-width: 768px) {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
    @media(min-width: 768px) {
        display: flex;
    }
}

.lisence-block__img {
    margin-right: 15px;
}

.top-form {
    background: #FFEFD8;
    border-radius: 6px;
    padding: 20px;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    @media(min-width: 1280px) {
        margin: 0;
    }
}

.top-form__item {
    margin-bottom: 16px;
}

.top-form__top {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        li {
            width: 340px;
        }
    }
}

.inp {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 60px;
    padding-left: 50px;
    color: #637588;
    border: none;
    padding-right: 10px;
}

.inp_name {
    background: white url('../img/person.png') no-repeat left 10px center;
}

.inp_phone {
    background: white url('../img/call_icon.png') no-repeat left 10px center;
}

.custom-select {
    position: relative;
    .selectric .label {
        font-family: "helveticaneuecyr";
        font-weight: 400;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: #637588;
        padding-left: 42px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }
    .button {
        &:after {
            border: none;
            width: 32px;
            height: 32px;
            background: url('../img/expand.png') no-repeat center;
        }
    }
    .selectric {
        border: none;
    }
    .selectric .button {
        top: 50%;
        transform: translateY(-50%);
    }
    .selectric-items li {
        font-size: 16px;
        font-family: "helveticaneuecyr";
        font-weight: 400;
        padding-left: 42px;
    }
}

.custom-select_med {
    .selectric .label {
        &:after {
            background: url('../img/cross.png') no-repeat center;
        }
    }
}

.custom-select_sl {
    .selectric .label {
        &:after {
            background: url('../img/assignment.png') no-repeat center;
        }
    }
}

.privacy {
    font-size: 14px;
    color: #717171;
    a {
        border-bottom: 1px solid #717171;
    }
}

.btn-submit {
    font-family: "BebasNeueBold";
    text-transform: uppercase;
    width: 100%;
    background: #FF4B5F;
    border-radius: 4px;
    height: 52px;
    font-size: 24px;
    color: white;
    box-shadow: 0px 4px 4px rgba(35, 34, 91, 0.25);
    @media(min-width: 1900px) {
        height: 84px;
    }
}

.price-block {
    position: relative;
    z-index: 1;
    @media(min-width: 1280px) {
        position: absolute;
        right: 30px;
        bottom: 0;
    }
    @media(min-width: 1600px) {
        width: 715px;
    }
    @media(min-width: 1900px) {
        right: 168px;
        bottom: 60px;
    }
    li {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        border: 2px solid rgba(0, 109, 240, 0.2);
        border-radius: 6px;
        display: flex;
        padding: 22px;
        background: white;
        @media(min-width: 768px) {
            margin: 0;
            margin: 15px;
        }
        @media(min-width: 1900px) {
            margin: 0;
            &:first-child {
                margin-right: 80px;
            }
        }
    }
    @media(min-width: 768px) and (max-width: 1279px) {
        display: flex;
        justify-content: center;
    }
    @media(min-width: 1600px) {
        display: flex;
        justify-content: center;
    }
}

.doc-img {
    position: absolute;
    top: 150px;
    right: 50px;
    @media(max-width: 1279px) {
        display: none;
    }
    @media(min-width: 1900px) {
        right: 136px;
    }
}

.price-block__img {
    margin-right: 20px;
}

.price-block__article {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    p {
        font-size: 14px;
        color: rgba(0, 142, 219, 0.8);
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    span {
        color: #FF4B5F;
        margin-bottom: 16px;
    }
}

.footer {
    background: #3BA7AE;
    background-size: cover;
    padding: 36px 22px;
    position: relative;
    @media(min-width: 1100px) {
        background: #3BA7AE url('../img/pattern.png') no-repeat top center;
        background-size: cover;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: #3BA7AE;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0.9;
    }
    @media(max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media(min-width: 1600px) {
        padding-left: 158px;
        padding-right: 230px;
    }
}

.footer__title {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.footer-list {
    margin-bottom: 50px;
    li {
        margin-bottom: 28px;
    }
    a {
        color: #A7F9FF;
        display: inline-block;
        font-size: 18px;
        border-bottom: 1px dashed transparent;
        &:hover {
            color: white;
            border-bottom: 1px dashed white;
        }
    }
}

.phone-footer {
    font-family: "TTNorms";
    font-weight: 600;
    color: #FFFFFF;
    font-size: 26px;
}

.work-time {
    font-size: 16px;
    color: white;
}

.copyright {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.copyright,
.metr {
    margin-bottom: 20px;
    text-align: center;
}

.logo__footer {
    margin-bottom: 20px;
}

.footer__info {
    margin-bottom: 20px;
    li {
        margin-bottom: 9px;
    }
}

.logo__footer-desc,
.footer__info_desc {
    @media(max-width: 767px) {
        display: none;
    }
}

.footer__info_mob {
    text-align: center;
}

.logo__footer-mob {
    display: flex;
    justify-content: center;
}

.logo__footer-mob,
.footer__info_mob {
    @media(min-width: 768px) {
        display: none;
    }
}

.footer__inner {
    position: relative;
    z-index: 5;
    @media(min-width: 992px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .footer__column {
        &:first-child {
            @media(min-width: 768px) and (max-width: 991px) {
                display: flex;
                justify-content: space-between;
            }
            @media(min-width: 992px) {
                width: 300px;
                .footer__item {
                    &:first-child {
                        margin-bottom: 120px;
                    }
                }
            }
        }
        &:last-child {
            @media(min-width: 992px) {
                width: calc(100% - 300px);
            }
            @media(min-width: 1800px) {
                padding-left: 100px;
            }
        }
    }
}

.footer__list-container {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    .footer-list {
        @media(min-width: 768px) {
            padding: 5px;
        }
    }
}

.footer__bottom {
    position: relative;
    z-index: 5;
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about-us {
    padding-top: 10px;
}

.price-list {
    @media(max-width: 639px) {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.price-list>li {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @media(max-width: 767px) {
        box-shadow: 2px 6px 30px rgba(56, 55, 121, 0.19);
        border-radius: 6px;
    }
    .price-list__item {
        &:first-child {
            @media(max-width: 767px) {
                width: 50%;
                order: 1;
            }
            @media(min-width: 768px) {
                width: 20%;
            }
        }
        &:nth-child(2) {
            @media(max-width: 767px) {
                order: 3;
            }
            @media(min-width: 768px) {
                width: 58%;
                padding-left: 20px;
            }
        }
        &:nth-child(3) {
            @media(max-width: 767px) {
                width: 50%;
                order: 2;
            }
            @media(min-width: 768px) {
                width: 21%;
            }
        }
    }
    @media(min-width: 1280px) {
        width: 49%;
    }
    &:hover {
        box-shadow: 2px 6px 30px rgba(56, 55, 121, 0.19);
        border-radius: 6px;
        a {
            color: #008EDB;
        }
        .price-list__article a:after {
            @media(min-width: 1600px) {
                display: block;
            }
        }
    }
}

.price-list__price {
    margin-left: auto;
    position: relative;
    @media(max-width: 767px) {
        padding-left: 10px;
    }
    &:after {
        content: '';
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90px;
        background: url('../img/line.png') no-repeat center;
        @media(max-width: 767px) {
            display: none;
        }
        @media(min-width: 1280px) and (max-width: 1599px) {
            left: -8px;
        }
    }
}

.price-list__img {
    img {
        display: block;
    }
}

.price-list__article {
    @media(max-width: 767px) {
        padding: 10px;
    }
    a {
        font-family: "helveticaneuecyr";
        font-weight: 400;
        color: #637588;
        font-size: 18px;
        display: block;
        max-width: 380px;
        width: 100%;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url('../img/arrow_forward.png') no-repeat center;
            display: none;
            @media(max-width: 767px) {
                display: block;
                right: 0;
                top: 90%;
            }
            @media(min-width: 1600px) and (max-width: 1899px) {
                right: -6px;
            }
        }
        @media(min-width: 768px) and (max-width: 1279px) {
            font-size: 20px;
        }
        @media(min-width: 1280px) {
            font-size: 16px;
        }
        @media(min-width: 1900px) {
            font-size: 20px;
        }
    }
}

.price-list__price {
    li {
        &:first-child {
            font-family: "helveticaneuecyr";
            font-weight: 800;
            font-size: 24px;
            color: #FF4B5F;
            @media(min-width: 768px) {
                font-size: 20px;
            }
        }
        &:last-child {
            font-family: "helveticaneuecyr";
            font-weight: 400;
            font-size: 16px;
            color: #637588;
            @media(max-width: 767px) {
                font-size: 15px;
            }
            @media(min-width: 768px) {
                font-size: 14px;
            }
        }
    }
}

.adv-slider {
    padding-bottom: 70px;
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 991px) {
            margin-bottom: 30px;
        }
        @media(min-width: 768px) and (max-width: 991px) {
            width: 50%;
        }
    }
    .swiper-button-next {
        top: 50px;
        width: 40px;
        height: 40px;
        background: url('../img/arrow_next.png') no-repeat center;
        right: 0;
        @media(max-width: 991px) {
            display: none;
        }
    }
    .swiper-button-prev {
        top: 50px;
        width: 40px;
        height: 40px;
        background: url('../img/arrow_back.png') no-repeat center;
        left: 0;
        @media(max-width: 991px) {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        background: #E5E5E5;
        width: 12px;
        height: 12px;
    }
    .swiper-pagination-bullet-active {
        background: #FC474E;
    }
    .swiper-wrapper {
        @media(max-width: 767px) {
            display: block;
        }
        @media(min-width: 768px) and (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
}

.adv-slider__article {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    max-width: 260px;
    width: 100%;
    color: #637588;
    font-size: 16px;
    padding-left: 22px;
}

.advantages {
    @media(min-width: 992px) {
        padding-top: 100px;
        .main-title {
            margin-bottom: 52px;
        }
    }
}

.services {
    padding: 0 24px;
    padding-top: 25px;
    @media(min-width: 992px) {
        padding-top: 80px;
    }
}

.service-table {
    width: 100%;
    thead {
        @media(max-width: 767px) {
            display: none;
        }
        tr {
            th {
                font-family: "helveticaneuecyr";
                font-weight: 500;
                background: #2DC6D1;
                color: white;
                height: 60px;
                &:first-child {
                    text-align: left;
                    padding-left: 40px;
                    width: 50%;
                }
                &:not(:first-child) {
                    width: 16%;
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(2n) {
                background: #EDF9FF;
            }
            &:hover {
                @media(min-width: 768px) {
                    .service-table__check {
                        display: none;
                    }
                    .service-table__btn {
                        display: block;
                    }
                    .service-table__article {
                        color: #003DDB;
                    }
                }
            }
            td {
                @media(max-width: 767px) {
                    display: block;
                }
                &:first-child {
                    padding-left: 40px;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    color: #4A647A;
                    font-size: 16px;
                    @media(max-width: 767px) {
                        padding-left: 0;
                    }
                }
                &:not(:first-child) {
                    text-align: center;
                    color: #4A647A;
                }
            }
        }
    }
}

.service-table__price {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 18px;
    color: #FF4B5F;
    @media(max-width: 767px) {
        text-align: left;
        margin-bottom: 17px;
    }
}

.service-table__btn {
    display: none;
    @media(max-width: 767px) {
        display: block;
    }
    a {
        width: 164px;
        height: 48px;
        color: white;
        line-height: 48px;
        font-family: "BebasNeueBold";
        font-size: 24px;
        display: inline-block;
        background: #FF4B5F;
        border-radius: 4px;
        text-transform: uppercase;
        @media(max-width: 767px) {
            max-width: 320px;
            width: 100%;
        }
    }
}

.service-table__check {
    width: 24px;
    height: 18px;
    margin: 0 auto;
    background: url('../img/check.png') no-repeat center;
    @media(max-width: 767px) {
        display: none;
    }
}

.service-table__time {
    @media(max-width: 767px) {
        text-align: left;
        margin-bottom: 17px;
        font-family: "helveticaneuecyr";
        font-weight: 500;
    }
}

.service-table__sub-title {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    color: #637588;
    @media(min-width: 768px) {
        display: none;
    }
}

.request {
    padding: 45px 16px;
    @media(max-width: 1279px) {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }
    @media(min-width: 1280px) {
        padding: 45px 24px;
    }
}

.request-form {
    background: #FFEFD8;
    border-radius: 10px;
    padding: 20px 15px;
    @media(min-width: 1600px) {
        padding: 55px 55px 40px;
    }
}

.request-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
    color: #008EDB;
    @media(min-width: 992px) {
        font-size: 32px;
    }
    @media(min-width: 1280px) {
        margin-bottom: 74px;
    }
    span {
        color: #FF5F6E;
    }
}

.request__inner-title {
    font-family: "helveticaneuecyr";
    font-weight: 500;
    color: #292929;
    font-size: 25px;
    margin-bottom: 14px;
    text-align: center;
    @media(min-width: 1280px) {
        font-size: 30px;
        margin-bottom: 38px;
    }
}

.request__img {
    @media(max-width: 1899px) {
        display: none;
    }
}

.request__list {
    li {
        font-size: 15px;
        color: #637588;
        margin-bottom: 25px;
        position: relative;
        padding-left: 24px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            border-radius: 10em;
            background: #F34444;
        }
        @media(min-width: 1280px) {
            font-size: 20px;
        }
    }
}

.request-form__list {
    @media(min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    li {
        margin-bottom: 24px;
        &:not(:last-child) {
            display: flex;
            align-items: center;
        }
        @media(min-width: 1280px) {
            width: 48%;
        }
    }
}

.about-list__info {
    p {
        font-family: "helveticaneuecyr";
        font-weight: 500;
        font-size: 18px;
        color: #008EDB;
        margin-bottom: 6px;
        font-size: 18px;
        @media(max-width: 767px) {
            font-size: 15px;
        }
    }
    span {
        font-family: "helveticaneuecyr";
        font-weight: 400;
        color: #637588;
        font-size: 16px;
    }
}

.about-list__img {
    margin-right: 15px;
    @media(max-width: 767px) {
        margin-right: 5px;
    }
}

.about-list__phone {
    margin-bottom: 7px;
    @media(max-width: 1279px) {
        text-align: center;
    }
    a {
        font-family: "TTNorms";
        font-weight: 600;
        color: #FF4B5F;
        font-size: 24px;
        @media(min-width: 992px) {
            font-size: 30px;
        }
    }
}

.about-list__work-time {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    font-size: 16px;
    color: #637588;
    margin-bottom: 24px;
    @media(max-width: 1279px) {
        text-align: center;
    }
}

.request__sub-title {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    color: #637588;
    font-size: 16px;
    margin-bottom: 25px;
    @media(min-width: 1280px) {
        margin-bottom: 5px;
    }
}

.request__btn-wrap {
    text-align: center;
}

.request__btn {
    max-width: 272px;
    width: 100%;
    height: 52px;
    font-family: "BebasNeueBold";
    background: #FF4B5F;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(35, 34, 91, 0.25);
    @media(min-width: 1900px) {
        max-width: 345px;
        height: 67px;
    }
}

.request__bottom {
    padding-top: 14px;
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.request__bottom>li {
    margin-bottom: 14px;
    @media(min-width: 768px) and (max-width: 1279px) {
        &:nth-child(1), &:nth-child(2) {
            width: 49%;
        }
        &:nth-child(3),
        &:nth-child(4) {
            width: 100%;
        }
    }
    @media(min-width: 1280px) {
        &:nth-child(1),
        &:nth-child(2),
        &:last-child {
            width: 23%;
        }
        &:nth-child(3) {
            width: 30%;
        }
        &:nth-child(4) {
            width: 20%;
        }
    }
}

.request__privacy {
    font-family: "helveticaneuecyr";
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: #717171;
    @media(min-width: 1280px) {
        padding-top: 25px;
        text-align: right;
    }
    a {
        display: inline-block;
        border-bottom: 1px solid #717171;
        padding-bottom: 2px;
    }
}

.request__top {
    @media(min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    .request__column {
        @media(min-width: 1280px) and (max-width: 1899px) {
            width: 50%;
        }
        @media(min-width: 1800px) {
            &:first-child {
                width: 28%;
            }
            &:nth-child(2) {
                width: 33%;
            }
            &:nth-child(3) {
                width: 33%;
            }
        }
    }
}

.licence-slider-wrap {
    position: relative;
    .swiper-button-prev {
        @media(min-width: 1600px) {
            left: -16px;
        }
    }
    .swiper-button-next {
        @media(min-width: 1600px) {
            right: -16px;
        }
    }
    .swiper-button-next {
        background: url('../img/arrow_next.png') no-repeat center;
        width: 20px;
        height: 34px;
    }
    .swiper-button-prev {
        background: url('../img/arrow_back.png') no-repeat center;
        width: 20px;
        height: 34px;
    }
}

.licence-slider {
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.licence__title {
    margin-bottom: 35px;
}

.licence-slider__item {
    background: white;
    box-shadow: 2px 6px 30px rgba(56, 55, 121, 0.19);
}

.licence {
    margin-bottom: 90px;
    padding-top: 30px;
}