.top-main
    .top-main__item
        .top-main__inner
            .about-exp.about-exp_cont Более 20 лет успешной работы
            
            ul.top-main__article
                li Сделать 
                    span медкнижку
                li в Москве, за один день официально
            
            .about-work
                .about-work__img
                    img(src="img/doctor.png")
                .about-work__article Мы не продаем медкнижки. Для получения медкнижки нужно обязательно пройти медосмотр.
                
            
            ul.lisence-block
                li
                    .lisence-block__img
                        img(src="img/orel.png")
                    .lisence-block__article
                        |Лицензия департамента<br> здравоохранения города Москвы
                li
                    .lisence-block__img
                        img(src="img/gerb.png")
                    .lisence-block__article
                        |Все книжки внесены в единый реестр<br> ФГБУЗ ГЦГиЭ ФМБА России

    form.top-form(action="#" method="post")
        ul.top-form__top
            li.top-form__item
                input(type="text" placeholder="Ваше имя").inp.inp_name
            li.top-form__item
                input(type="text" placeholder="Контактный телефон").inp.inp_phone
        
        .custom-select.custom-select_med.top-form__item
            select
                option Медицинские книжки, метро Братиславская
                option Медицинские книжки, метро Братиславская
                option Тест
        
        .custom-select.custom-select_sl.top-form__item
            select
                option Медицинская книжка для работников салона красоты
                option Тест
                option Медицинская книжка для работников салона красоты

        .top-form__button.top-form__item
            button(type="submit").btn-submit записаться на прием

        .privacy Нажимая на кнопку «Оформить медкнижку», вы принимаете условия передачи и 
            a(href="#") обработки информации
    
    ul.price-block
        li
            .price-block__img
                img(src="img/university.png")

            .price-block__article
                p Новая медкнижка
                span от 1 700 руб.
        li
            .price-block__img
                img(src="img/university.png")
                
            .price-block__article
                p Продление медкнижки
                span от 1 600 руб.
    .doc-img
        img(src="img/MedBook.png")

.about-us.container
    h1.main-title Медкнижки в Москве для всех сфер деятельности
    .cont-text
        p Для устройства на работу необходимо официально оформить медкнижку, а времени только один день? В наших медицинских центрах всего за 1200 рублей вы сможете оперативно пройти обследование и за 1 день продлить медкнижку или через два дня получить новую медкнижку официцально и весь пакет документов. Самая низкая цена на медкнижки в Москве!
    
    ul.cont-list
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;

.prices.container
    ul.price-list
        li
            .price-list__img.price-list__item
                img(src="img/ph1.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников пищевой промышленности
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph2.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников общеобразовательных учреждений
            ul.price-list__price.price-list__item
                li 2 780 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph3.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинская книжка для работников ВУЗ (высших учебных заведений)
            ul.price-list__price.price-list__item
                li 1 720 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph4.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников медицинских учреждений
            ul.price-list__price.price-list__item
                li 3 100 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph5.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников салон красоты, баня, сауна, прачечная
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph6.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинская книжка для студентов мед колледжа, университета
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка

.advantages
    h2.main-title Наши преимущества

    .container
        .adv-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .adv-slider__img
                        img(src="img/gps.png")
                    .adv-slider__article 25 медицинских центров рядом с метро
                .swiper-slide
                    .adv-slider__img
                        img(src="img/report.png")
                    .adv-slider__article Медкнижки для всех видов деятельности
                .swiper-slide
                    .adv-slider__img
                        img(src="img/medicine.png")
                    .adv-slider__article Все медкнижки официальные и внесены в реестр
                .swiper-slide
                    .adv-slider__img
                        img(src="img/woman.png")
                    .adv-slider__article Удобная форма записи на прием на сайте
            
            .swiper-pagination
            .swiper-button-next
            .swiper-button-prev 

.services
    h2.main-title Наши услуги и цены

    table.service-table
        thead
            tr
                th Медицинские книжки для граждан РФ
                th Стоимость медкнижки
                th Время комиссии
                th Онлайн запись
        tbody
            tr
                td 
                    .service-table__article [Новая] Медицинские книжки для работников пищевой промышленности (общепит, прод. торговля, молочные и раздаточные пункты, кремово-кондитерское производство, пром. торговля, пром. склад, пром.рынок, стюардесс), для учащихся, дошкольные учреждения, реабилитационный центр, работа в семье
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |1200 руб.
                td
                    .service-table__time 
                        span.service-table__sub-title Время комиссии: 
                        |от 40 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться
            tr
                td 
                    .service-table__article Продление с АТТ
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |2800 руб.
                td
                    .service-table__time от 30 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться

            tr
                td 
                    .service-table__article Продление без АТТ
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |2900 руб.
                td
                    .service-table__time от 50 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться
            tr
                td 
                    .service-table__article [Новая] Медицинские книжки для медработников (для всех ЛПУ, санаторий, медцентр, интернаты, дома ребенка, детские санатории, дома престарелых, оздоровительные лагеря) (при оформлении новой книжки включает в себя прививку от гепатита В, отметки нарколога и психиатра, гинеколога
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |2800 руб.
                td
                    .service-table__time от 30 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться
            tr
                td 
                    .service-table__article Продление без АТТ
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |2900 руб.
                td
                    .service-table__time от 50 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться
            tr
                td 
                    .service-table__article [Новая] Медицинские книжки для аптечных работников, общеобразовательных учреждений и дополнительного образования (спортивные секции, творческие и досуговые детские организации). Обучающий персонал (детский дом, школа-интернат). Медучилище, спортшкола, бассейн, гостиница, городской транспорт, общежитие, ком. быт в ЛПУ, ЖКХ, ФОК, водопроводные сооружения, медицинская промышленность
                
                td 
                    .service-table__price 
                        span.service-table__sub-title Стоимость: 
                        |2800 руб.
                td
                    .service-table__time от 30 мин
                td
                    .service-table__check
                    .service-table__btn
                        a(href="#") Записаться

.request
    form.request-form(action="#" method="post")
        h2.request-title Отправьте заявку и 
            span запишитесь на прием прямо сейчас!
        ul.request__top
            li.request__column
                .request__inner-title Какие документы требуются?
                ul.request__list
                    li паспорт или иное удостоверение личности;
                    li фотографию 3 х 4;
                    li направление от работодателя и точное наименование организации;
                    li результаты флюорографии и сведения о прививках.

            li.request__column.request__img
                img(src="img/slide.jpg")

            li.request__column
                ul.request-form__list
                    li
                        .about-list__img
                            img(src="img/university.png")

                        .about-list__info 
                            p от 1700 руб
                            span Новая медкнижка
                    li
                        .about-list__img
                            img(src="img/health.png")

                        .about-list__info 
                            p 25 филиалов в<br> Москве и МО
                    li
                        .about-list__img
                            img(src="img/document.png")

                        .about-list__info 
                            p Официальное оформление
                            span Медкнижка внесена в реестр
                    li
                        .about-list__phone
                            a(href="tel:74951548545") +7 (495) 154-85-45

                        .about-list__work-time Звоните ежедневно: с 9:00 до 21:00
                
                .request__sub-title Выберите медицинский центр:

                .custom-select.custom-select_med
                    select
                        option Медицинские книжки, метро Братиславская
                        option Медицинские книжки, метро Братиславская
                        option Тест

        ul.request__bottom
            li
                input(type="text" placeholder="Ваше имя").inp.inp_name
            li
                input(type="text" placeholder="Контактный телефон").inp.inp_phone
            li
                .custom-select.custom-select_sl
                    select
                        option Медицинская книжка для работников салона красоты
                        option Тест
                        option Медицинская книжка для работников салона красоты
            li   
                .request__btn-wrap
                    button(type="button").request__btn оформить медкнижку  

        .request__privacy Нажимая на кнопку «Оформить медкнижку», вы принимаете условия передачи и 
            a(href="#") обработки информации  

.licence.container
    h2.main-title.licence__title Наши лицензии
    .licence-slider-wrap
        .licence-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert.png")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-2.png")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert.png")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert.png")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert.png")

        .swiper-button-next.swiper-button-next-nl
        .swiper-button-prev.swiper-button-prev-pl          



                    