.top-main
    .top-main__item
        .top-main__inner
            .about-exp.about-exp_cont Более 20 лет успешной работы
            
            ul.top-main__article
                li Сделать 
                    span медкнижку
                li в Москве, за один день официально
            
            .about-work
                .about-work__img
                    img(src="img/doctor.png")
                .about-work__article Мы не продаем медкнижки. Для получения медкнижки нужно обязательно пройти медосмотр.
                
            
            ul.lisence-block
                li
                    .lisence-block__img
                        img(src="img/orel.png")
                    .lisence-block__article
                        |Лицензия департамента<br> здравоохранения города Москвы
                li
                    .lisence-block__img
                        img(src="img/gerb.png")
                    .lisence-block__article
                        |Все книжки внесены в единый реестр<br> ФГБУЗ ГЦГиЭ ФМБА России

    form.top-form(action="#" method="post")
        ul.top-form__top
            li.top-form__item
                input(type="text" placeholder="Ваше имя").inp.inp_name
            li.top-form__item
                input(type="text" placeholder="Контактный телефон").inp.inp_phone
        
        .custom-select.custom-select_med.top-form__item
            select
                option Медицинские книжки, метро Братиславская
                option Медицинские книжки, метро Братиславская
                option Тест
        
        .custom-select.custom-select_sl.top-form__item
            select
                option Медицинская книжка для работников салона красоты
                option Тест
                option Медицинская книжка для работников салона красоты

        .top-form__button.top-form__item
            button(type="submit").btn-submit записаться на прием

        .privacy Нажимая на кнопку «Оформить медкнижку», вы принимаете условия передачи и 
            a(href="#") обработки информации
    
    ul.price-block
        li
            .price-block__img
                img(src="img/university.png")

            .price-block__article
                p Новая медкнижка
                span от 1 700 руб.
        li
            .price-block__img
                img(src="img/university.png")
                
            .price-block__article
                p Продление медкнижки
                span от 1 600 руб.
    .doc-img
        img(src="img/MedBook.png")

.about-us.container
    h1.main-title Медкнижки в Москве для всех сфер деятельности
    .cont-text
        p Для устройства на работу необходимо официально оформить медкнижку, а времени только один день? В наших медицинских центрах всего за 1200 рублей вы сможете оперативно пройти обследование и за 1 день продлить медкнижку или через два дня получить новую медкнижку официцально и весь пакет документов. Самая низкая цена на медкнижки в Москве!
    
    ul.cont-list
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;
        li паспорт или иное удостоверение личности;
        li фотографию 3 х 4;

.prices.container
    ul.price-list
        li
            .price-list__img.price-list__item
                img(src="img/ph1.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников пищевой промышленности
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph2.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников общеобразовательных учреждений
            ul.price-list__price.price-list__item
                li 2 780 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph3.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинская книжка для работников ВУЗ (высших учебных заведений)
            ul.price-list__price.price-list__item
                li 1 720 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph4.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников медицинских учреждений
            ul.price-list__price.price-list__item
                li 3 100 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph5.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинские книжки для работников салон красоты, баня, сауна, прачечная
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка
        li
            .price-list__img.price-list__item
                img(src="img/ph6.jpg")
            .price-list__article.price-list__item
                a(href="#") Медицинская книжка для студентов мед колледжа, университета
            ul.price-list__price.price-list__item
                li 2 880 руб.
                li Новая медкнижка

