.header
    .top-panel
       .top-panel__item
            .about-exp Более 20 лет успешной работы

       .top-panel__item
            ul.top-nav
                li
                    a(href="#") О компании
                li
                    a(href="#") Лицензии и сертификаты
                li
                    a(href="#") Медицинские центры
                li
                    a(href="#") Контакты

       .top-panel__item
            ul.payment
                li 
                    |Оплата наличными и по карте
                li
                    img(src="img/mastercard.png")
                li
                    img(src="img/visa.png")
    
    .bottom-panel
        .bottom-panel__item
            .logo
                ul.logo__list
                    li
                        .logo__img
                            img(src="img/handbook.png")
                    li
                        ul.logo__name
                            li Medic
                            li Books
                
                .logo__article медицинские книжки

        .bottom-panel__item        
            ul.main-nav
                li
                    a(href="#").main-nav__book Новая медкнижка
                    .nav-dropdown
                        .nav-dropdown__inner
                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников ВУЗ
                                li
                                    a(href="#") Для студентов колледжей
                                li
                                    a(href="#") Для работников торговли
                            
                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников салона красоты
                                li
                                    a(href="#") Для медицинских работников
                                li
                                    a(href="#") Для работников торговли

                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников салона красоты
                                li
                                    a(href="#") Для медицинских работников
                                li
                                    a(href="#") Для работников торговли

                li
                    a(href="#").main-nav__book Продление медкнижки
                    .nav-dropdown
                        .nav-dropdown__inner
                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников ВУЗ
                                li
                                    a(href="#") Для студентов колледжей
                                li
                                    a(href="#") Для работников торговли
                            
                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников салона красоты
                                li
                                    a(href="#") Для медицинских работников
                                li
                                    a(href="#") Для работников торговли

                            ul.nav-dropdown__list
                                li
                                    a(href="#") Для работников салона красоты
                                li
                                    a(href="#") Для медицинских работников
                                li
                                    a(href="#") Для работников торговли
                li
                    a(href="#").main-nav__service Услуги и цены
        
        .bottom-panel__item
            ul.info-block
                li
                    button(type="button").recall-btn Заказать звонок
                li
                    .phone-block
                        .phone-block__item
                            a(href="tel:74951548545").phone-link.phone-link_header 
                                span +7 (495) 
                                |154-85-45

                        .phone-block__item 
                            span.phone-block__article Звоните ежедневно: с 9:00 до 21:00


.header-mob
    .header-mob__top
        .burger
        
        .header-mob__info
            .logo
                ul.logo__list.logo__list_mob
                    li
                        .logo__img.logo__img_mob
                            img(src="img/handbook.png")
                    li
                        ul.logo__name.logo__name_mob
                            li Medic
                            li Books
            
            .header-mob__phone
                a(href="tel:74951548545") +7 (495) 154-85-45
        
        .header-mob__icon
    
    .dropdown-menu    
        ul.menu-list
            li.dropdown-menu__book.menu-list__item
                .menu-list__top Новая медкнижка
                ul.menu-list__dropdown
                    li
                        a(href="#") Для работников ВУЗ
                    li
                        a(href="#") Для студентов колледжей
                    li
                        a(href="#") Для работников салона красоты
                    li
                        a(href="#") Для медицинских работников
                    li
                        a(href="#") Для работников торговли

            li.dropdown-menu__book.menu-list__item
                .menu-list__top Продление медкнижка
                ul.menu-list__dropdown
                    li
                        a(href="#") Для работников ВУЗ
                    li
                        a(href="#") Для студентов колледжей
                    li
                        a(href="#") Для работников салона красоты
                    li
                        a(href="#") Для медицинских работников
                    li
                        a(href="#") Для работников торговли

            li.dropdown-menu__service
                span.menu-list__top 
                    a(href="#") Услуги и цены
        
        ul.dropdown-menu__nav
            li
                a(href="#") О компании
            li
                a(href="#") О Лицензии и сертификаты
            li
                a(href="#") Медицинские центры
            li
                a(href="#") Контакты


